#clockContainer{
    position: relative;
    background-color: rgba(157, 0, 255, 0.778);
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    margin: auto;
    
}

#hour, #minute, #second{
    position: absolute;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    transform-origin: bottom;
    
}

#hour{
   
    width: 2%;
    height: 26%;
    top: 23%;
    left: 48.5%;
    
    
}


#minute{

    width: 2%;
    height: 41%;
    top: 10%;
    left: 49%;
    
    
}

#second{
    
      
    width: 1%;
    height: 42%;
    top: 7%;
    left: 51%;
}